<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
  <div class="col-8 offset-3 show-card">
    <h3>Show Details of <u><%= details.title %></u></h3>
    <a href="/listings"><i class="fa-solid fa-left-long"></i>Show all listings</a>
  </div>
  
  <div class="col-6 offset-3 mt-3">
    <div class="card">
      <img
        src="<%= details.image %>"
        class="card-img-top show-img"
        alt="listing_img"
      />
      <div class="card-body">
        <p class="card-text">
          <b><%= details.title %></b><br>
          <%= details.description %> <br />
          &#8377;<%= details.price ? details.price.toLocaleString("en-In") : "Price Unavailable"%> <br />
          <%= details.location %> <br />
          <%= details.country %> <br />
        </p>
      </div>
    </div>
  </div>
</div>

<div class="btns">
  <a href="/listings/<%= details._id %>/edit" class="btn btn-dark edit-btn col-1 offset-3">Edit</a>

  <form method="POST" action="/listings/<%= details._id %>?_method=DELETE">
    <button class="btn btn-dark offset-5">Delete</button>
  </form>
  
</div>
